<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436056479524-vt78jb6cncq2qa447j602mfusbvsv8ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436056479524-vt78jb6cncq2qa447j602mfusbvsv8ah</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Br1Ak0z0AwxcvJl7rIDN51DwnAczk1k</string>
	<key>GCM_SENDER_ID</key>
	<string>436056479524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.airpl.naonair</string>
	<key>PROJECT_ID</key>
	<string>naonair-ce533</string>
	<key>STORAGE_BUCKET</key>
	<string>naonair-ce533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436056479524:ios:ab2bbd0396f1e1153185b1</string>
</dict>
</plist>